*{
    margin: 0;
    padding: 0;
}
body{
   background-color: black;
}
.container{
    /* border:2px solid red; */
    width:99vw;
    height:100vh;
}

.aside {
    top:0;
    position: sticky;
  
    width:300px;
    height:90vh;
}
.right{
    /* border-bottom: 2px solid black; */
    position: relative;
    background-color:rgba(6, 49, 68, 0.829);
    color: black;
    /* border:2px solid yellow; */
    width:900px;
    height:250vh;
    margin-left: 15px;
    
}
.container1{
    display:flex;
}
.bottom{
    /* display: flex; */
    margin-left: -310px;
    display: grid;
    background-attachment: fixed;
    grid-template-columns: repeat(2,100px);
    background-color: black;
    border:2px solid black;
    width:1215px;
    height:100px;
    position: sticky;
    bottom: 0;
}
.waving{
    color:white;
    display:flex;
    position: sticky;
    top:0;
    background-color:rgba(6, 49, 68, 0.829);

}
.get{
    padding: 8px 0;
    margin-top: 0;
    margin-left: 400px;
    color: white;
    font-size: 20px;
}
.get:hover{
    transform: scale(1.1);
}
 .waving i{
    margin-left: 20px;
}
.icon{
    cursor: pointer;
    margin-left: 100px;
    margin-top: 10px;
}
.right h1{
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 
header{
    height:130px;
    position: sticky;
    top:0;
    width:280px;
    /* border:2px solid gold; */
  
    padding:8px 0 0 20px;
    background-color:rgba(36, 61, 71, 0.829);
    box-shadow: 4px 4px rgba(27, 91, 119, 0.829) ;
    
} 
.search{
   padding-top:10px;
}
header h3:nth-child(2){
    display: inline;
    padding-left: 15px;
    cursor: pointer; 
}
/* header h2:nth-child(4){
    display: inline-block;
     padding-left: 15px;
} */
.search{
    opacity: 0.5;
}
 header i{
    padding: 10px 0;
    opacity: 0.5;
    color:white;
 }
 a{
    text-decoration: none;
    color: white;
 }
 .search:hover{
    opacity: 1;
 } 
 .library {
    margin-top: 15px;
    color:white;
    /* border: 2px solid olivedrab; */
    height: 120vh;
    cursor: pointer;
    background-color: rgba(24, 52, 64, 0.829);
    box-shadow: 4px 4px rgba(31, 122, 161, 0.829) ;
    padding-top: 10px;
    z-index: -1;
 }
 .library1{
    display:flex;
    width:250px;
    height:50px;
 }

.lib{
     display: flex;
     opacity:0.5;
}
.lib:hover{
       opacity:5;
}
 .library i{
    padding-left: 9px;
    padding-right: 10px;
 }
 .arrow{
    display:inline;
    margin-left: 50px;
    margin-top: 6px;
    opacity: 0.5;
 }
 .arrow:hover{
    opacity: 1;
 }
 ul i{
    margin:0 20px 0 10px;
 }
 ul li{
    font-size: 20px;
    padding:20px 0;
    opacity: 0.5;
 }
 ul li:hover{
   opacity: 1;
 }
 .img{
    display: flex;
 }
 .img:first-child{
    grid-row-start: 1;
    grid-row-end:3 ;

 }
  .label{
    color:white;
    display: flex;
    justify-content: center;
    padding-left: 450px; 
 }
  .label i{
    padding:20px 20px 0px 10px;
    
 }
 .form{
   margin-left:110px ;
 }  
 input[type='range']{
    width:500px;
 }
 .bottom h4{
    color:white;
    padding: 15px 0 0 8px;
 } 
 .bottom h6{
    color:white;
    padding-top:35px;
    margin-left: -70px;
 }

 img{
    height:100px;
 }
 .first{
    display:grid;
    grid-template-columns: repeat(4,auto);
    grid-gap:1rem;
    background-color: rgb(3, 1, 1);
    
 }
 .first img{
    width:200px;
    height:150px;
    border-radius: 5px;
 }
 .first img:hover{
   transform: scale(1.2);
 }
 .pra::before{
    display: flex;
    content: "";
    margin-left: 250px;
    width: 400px;
    border: 1px solid white;
    border-top-color: white;
    opacity: 0.25;
    margin-top: 20px;
    margin-bottom: 10px;
 }
 .pra{
    color:white;
    margin-top: 25px;
    margin-bottom: 10px;
 }
 .pra1{
    color:white;
    margin-top:25px;
    margin-bottom: 15px;
 }
.pra2{
    color:white;
    margin-top:25px;
    margin-bottom: 15px;
}
